# Dependencias
node_modules/

# Backend (api)
api/.env
api/components/Archive/

# Frontend (apps) - Nota la "s"
apps/dist/
apps/.env
apps/.env.local

# Sistema
.DS_Store
*.log

# Editor
*.code-workspace
